<div class="alert alert-warning" role="alert">
    No se encuentra autenticado o las credenciales han caducado. Para usar la aplicación por favor 
    <span>
        <a href="/login-user?redirect={{ redirect }}" class="link-info link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
            ingrese
        </a>
    </span>
    o 
    <span>
        <a href="/register-user?redirect={{ redirect }}" class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
            regístrese
        </a>
    </span>
</div>